<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wellnessapp">
        <activity
            android:name=".activities.AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.Wellnessapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginFormActivity"
            android:exported="false"
            android:theme="@style/Theme.Wellnessapp" />
        <activity
            android:name=".activities.SignupFormActivity"
            android:exported="false"
            android:theme="@style/Theme.Wellnessapp" />
        <activity
            android:name=".activities.MeditationActivity"
            android:exported="false"
            android:theme="@style/Theme.Wellnessapp" />
        <activity
            android:name=".activities.HabitsActivity"
            android:exported="false"
            android:theme="@style/Theme.Wellnessapp" />
        <activity
            android:name=".activities.HydrationActivity"
            android:exported="false"
            android:theme="@style/Theme.Wellnessapp" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Wellnessapp" />
        
        <!-- Hydration Reminder Service -->
        <service
            android:name=".services.HydrationReminderService"
            android:enabled="true"
            android:exported="false" />

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

</manifest>